<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion des tâches</title>
</head>
<body>
  <h1>Liste des Livres</h1>

  <form action="/books" method="POST">
    <input type="text" name="title" placeholder="Ajouter un livre" required />
    <button type="submit">Ajouter</button>
  </form>

  <ul>
    <% books.forEach(book => { %>
      <li>
        <%= book.title %> 
        <a href="/books/delete/<%= task._id %>">Supprimer</a>
      </li>
    <% }); %>
  </ul>
</body>
</html>